#include "lang.h"

STRINGTABLE
{
	FILETYPE_TTM "Tibia recording"
	FILETYPE_CAM "Tibia recording - compressed"
	FILETYPE_TMV "Tibia recording - old compressed"
	FILETYPE_REC "Tibia recording - old format"
	FILETYPE_ALL "All supported formats"
	FILETYPE_EXE "Application"

	MENU_OPTIONS "&Options"
	MENU_PROXY "Use local &proxy"
	MENU_GAMEMASTER "&Gamemaster mode"
	MENU_TOPMOST "&Transparent"
	MENU_REGISTER "&Register video files"
	MENU_AUTOPLAY "&Auto Play"
	MENU_DONATE "&Donate"
	MENU_VERSION "&Version "
	MENU_HOST "Official servers"

	MENU_DELETE_SELECTED "&Delete"
	MENU_DELETE_ALL "&Clear"
	MENU_REMOVE "&Remove from the list"
	MENU_PORT "&Default port: 7171"
	MENU_CUSTOM "&Custom client"

	LABEL_NO_VIDEO "No video"
	LABEL_TOTAL_TIME "Recorded time:"
	LABEL_WAITING "Waiting for login"
	LABEL_RECORDING "Recording"
	LABEL_PLAYING "Playing"
	LABEL_PAUSED "Paused"
	LABEL_SLOW "Slow"
	LABEL_FAST "Fast"
	LABEL_OVERRIDE "Try to recover video file"

	BUTTON_OPEN "Op&en"
	BUTTON_SAVE "Sav&e"
	BUTTON_START "&Start"
	BUTTON_CANCEL "&Cancel"
	BUTTON_STOP "&Stop"
	BUTTON_PAUSE "&Pause"
	BUTTON_PLAY "&Play"
	BUTTON_RESTART "&Restart"

	TITLE_OPEN_VIDEO "Open video"
	TITLE_SAVE_VIDEO "Save video"
	TITLE_START_TIBIA "Start Client"
	TITLE_SELECT_TIBIA "Browse for client "
	TITLE_LOADER "Start OpenTibia"
	TITLE_LOADER_OVERRIDE "Override video version"
	TITLE_LOADER_ERROR "Select version and server"
	TITLE_PROXY "Local proxy"

	LABEL_VERSION "&Version:"
	LABEL_HOST "&Server:"
	LABEL_GLOBAL "Official servers"
	LABEL_PORT "&Port:"

	TOOLTIP_VERSION "Invalid version"
	TOOLTIP_VERSION_EXPLANATION "You need to enter the version in the format XX.XX here.\n(Examples: " VERSION_EXAMPLES ")"
	TOOLTIP_HOST "Invalid server"
	TOOLTIP_HOST_EXPLANATION "You can enter a valid hostname or IP address here.\n(Allowed characters: a-z 0-9 - _ .)"
	TOOLTIP_PORT "Invalid port"
	TOOLTIP_PORT_EXPLANATION "You need to specify a port between 1 and 65535 here.\n(Default: 7171)"

	PLAY_VIDEO "Play video"

	ERROR_INVALID_VERSION "The Tibia version needs to follow the format XX.XX."
	ERROR_INVALID_HOST "The server needs to be an IP address or a valid hostname."
	ERROR_INVALID_PORT "The port needs to be a number between 1 and 65535."
	ERROR_CMDLINE "The command line is too big."
	ERROR_FILE_NOT_EXISTS "The specified file does not exist."
	ERROR_URL "Invalid URL."
	ERROR_VIDEO_FORMAT_NOT_SUPPORTED "The type of the selected file is not supported."
	ERROR_CANNOT_APPEND "This video file is too big to append."
	ERROR_CANNOT_OPEN_VIDEO_FILE "Could not open the video file."
	ERROR_CANNOT_SAVE_VIDEO_FILE "Could not save the video file."
	ERROR_CORRUPT_VIDEO "The video file is corrupt."
	ERROR_TIBICAM_VERSION "Can't start conversion without selecting the Tibia version used to record the video."
	ERROR_UNSUPPORTED_VERSION "This video is for an unsupported Tibia version."
	ERROR_WRONG_VERSION "This video is for a different Tibia version than the one that is running."
	ERROR_WRONG_HOST "This video came from a different OpenTibia server than the one that is running."
	ERROR_UNSUPPORTED_TIBIA_VERSION "Unsupported client version"
	ERROR_WRONG_TIBIA_EXE "The selected file does not exist."
	ERROR_WRONG_TIBIA_VER "The selected client version is not the one that is needed."
	ERROR_WRONG_TIBIA_DIR "You don't have permissions to access the client's folder."
	ERROR_WRONG_TIBIA_DAT "The file Tibia.dat is missing or you don't have permissions to access it."
	ERROR_WRONG_TIBIA_SPR "The file Tibia.spr is missing or you don't have permissions to access it."
	ERROR_WRONG_TIBIA_PIC "The file Tibia.pic is missing or you don't have permissions to access it."
	ERROR_START_TIBIA "Could not start the client."
	ERROR_START_SERVERS "There is no port available to start the proxy server."
	ERROR_GET_BASE_ADDRESS "Could not read client's memory."
	ERROR_CHANGE_TIBIA_CONFIG "Could not change client's configuration."
	ERROR_CHANGE_TIBIA_HOST "Could not change client's login server address."
	ERROR_FIND_TIBIA_WINDOW "Could not find client window."
	ERROR_WAIT_TIBIA_WINDOW "The client has stopped responding."
	ERROR_THREAD_WAITER "Could not create a thread."

	MESSAGE_PROXY "Activate your proxy now and press OK to continue."

	MESSAGE_END_VIDEO "You reached the end of the video.\nThanks for watching!\n\nTibia Time Machine " STR_VERSION "\nCreated by tulio150 @ " SITE_URL "\nPlase donate if you enjoyed"
	MESSAGE_EDIT_START "Tibia Time Machine Editor\n\nThe game session now starts in the current position."
	MESSAGE_EDIT_END "Tibia Time Machine Editor\n\nThe game session now ends in the current position."
	MESSAGE_EDIT_FAST "Tibia Time Machine Editor\n\nThe specified amount of time will be played 2x faster."
	MESSAGE_EDIT_SLOW "Tibia Time Machine Editor\n\nThe specified amount of time will be played 2x slower."
	MESSAGE_EDIT_SKIP "Tibia Time Machine Editor\n\nThe specified amount of time was cut from the video."
	MESSAGE_EDIT_DELAY "Tibia Time Machine Editor\n\nThe specified amount of time was inserted in the video."

	ERROR_CREATE_SOCKET "Tibia Time Machine Error\n\nCould not create the connection socket.\nYou computer is out of network resources."
	ERROR_OLD_TIBIA "Tibia Time Machine Error\n\nYou can't connect to Tibia using an old version.\nTo watch a video, press Start on Tibia Time Machine\nand login with empty Account and Password."
	ERROR_FIND_HOST "Tibia Time Machine Error\n\nCould not find OpenTibia server.\nThe server may be offline, the hostname is wrong\nor you are not connected to the internet."
	ERROR_CONNECT_HOST "Tibia Time Machine Error\n\nCould not connect to the server.\nThe server may be offline or busy."
	ERROR_CORRUPT_DATA "Tibia Time Machine Error\n\nCould not connect to the server.\nThe server replied with invalid data."
	ERROR_OTSERVER_UPDATE "Tibia Time Machine Error\n\nAn OpenTibia server tried to send an update."
	ERROR_NOT_WAIT "Tibia Time Machine Error\n\nTo watch a video, press Start on Tibia Time Machine before logging in."
	ERROR_NO_VIDEO "Tibia Time Machine Error\n\nThere is no video lodaded to be played.\nTo open a video, press Open on Tibia Time Machine."
	ERROR_RECONNECT "Não foi possível se reconectar ao servidor de jogo para iniciar a gravação."
}

STRINGTABLE
LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN
{
	FILETYPE_TTM "Gravação do Tibia"
	FILETYPE_CAM "Gravação do Tibia - compactada"
	FILETYPE_TMV "Gravação do Tibia - antiga e compactada"
	FILETYPE_REC "Gravação do Tibia - antiga"
	FILETYPE_ALL "Todos os formatos suportados"
	FILETYPE_EXE "Aplicativo"

	MENU_OPTIONS "&Opções"
	MENU_PROXY "Usar &proxy local"
	MENU_GAMEMASTER "Modo &gamemaster"
	MENU_TOPMOST "&Transparente"
	MENU_REGISTER "&Registrar arquivos"
	MENU_AUTOPLAY "&Assistir automaticamente"
	MENU_DONATE "&Doar"
	MENU_VERSION "&Versão "
	MENU_HOST "Servidores oficiais"

	MENU_DELETE_SELECTED "&Excluir"
	MENU_DELETE_ALL "&Limpar"
	MENU_REMOVE "&Remover da lista"
	MENU_PORT "&Porta padrão: 7171"
	MENU_CUSTOM "&Cliente próprio"

	LABEL_NO_VIDEO "Sem vídeo"
	LABEL_TOTAL_TIME "Tempo gravado:"
	LABEL_WAITING "Aguardando login"
	LABEL_RECORDING "Gravando"
	LABEL_PLAYING "Assistindo"
	LABEL_PAUSED "Parado"
	LABEL_SLOW "Devagar"
	LABEL_FAST "Rápido"
	LABEL_OVERRIDE "Tentar recuperar vídeo"

	BUTTON_OPEN "Abri&r"
	BUTTON_SAVE "Salva&r"
	BUTTON_START "&Iniciar"
	BUTTON_CANCEL "&Cancelar"
	BUTTON_STOP "&Parar"
	BUTTON_PAUSE "P&ausar"
	BUTTON_PLAY "Continu&ar"
	BUTTON_RESTART "Reinici&ar"

	TITLE_OPEN_VIDEO "Abrir vídeo"
	TITLE_SAVE_VIDEO "Salvar vídeo"
	TITLE_START_TIBIA "Iniciar cliente"
	TITLE_SELECT_TIBIA "Encontre o cliente "
	TITLE_LOADER "Iniciar OpenTibia"
	TITLE_LOADER_OVERRIDE "Substituir versão do vídeo"
	TITLE_LOADER_ERROR "Selecionar versão e servidor"
	TITLE_PROXY "Proxy local"

	LABEL_VERSION "&Versão:"
	LABEL_HOST "&Servidor:"
	LABEL_GLOBAL "Servidores oficiais"
	LABEL_PORT "&Porta:"

	TOOLTIP_VERSION "Versão inválida"
	TOOLTIP_VERSION_EXPLANATION "Você precisa digitar a versão no formato XX.XX aqui.\n(Exemplos: " VERSION_EXAMPLES ")"
	TOOLTIP_HOST "Servidor inválido"
	TOOLTIP_HOST_EXPLANATION "Você pode especificar um nome de servidor válido ou endereço IP aqui.\n(Caracteres válidos: a-z 0-9 - _ .)"
	TOOLTIP_PORT "Porta inválida"
	TOOLTIP_PORT_EXPLANATION "Você precisa especificar uma porta entre 1 e 65535 aqui.\n(Padrão: 7171)"

	PLAY_VIDEO "Ver vídeo"

	ERROR_INVALID_VERSION "A versão do Tibia precisa estar no formato XX.XX."
	ERROR_INVALID_HOST "O servidor precisa ser um endereço IP ou um hostname válido."
	ERROR_INVALID_PORT "A porta precisa ser um número entre 1 e 65535."
	ERROR_CMDLINE "A linha de comando é muito grande."
	ERROR_FILE_NOT_EXISTS "O arquivo especificado não existe."
	ERROR_URL "Link inválido."
	ERROR_TIBICAM_VERSION "Não é possível converter sem informar a versão do Tibia em que o vídeo foi gravado."
	ERROR_VIDEO_FORMAT_NOT_SUPPORTED "O tipo do arquivo selecionado não é suportado."
	ERROR_CANNOT_APPEND "Esse vídeo é muito grande para ser adicionado."
	ERROR_CANNOT_OPEN_VIDEO_FILE "Não foi possível abrir o arquivo de vídeo."
	ERROR_CANNOT_SAVE_VIDEO_FILE "Não foi possível salvar o arquivo de vídeo."
	ERROR_CORRUPT_VIDEO "O vídeo selecionado está corrompido."
	ERROR_UNSUPPORTED_VERSION "Esse vídeo é para uma versão não suportada do Tibia."
	ERROR_WRONG_VERSION "Esse vídeo é para uma versão do Tibia diferente da que está aberta."
	ERROR_WRONG_HOST "Esse vídeo é de um servidor OpenTibia diferente do que está aberto."
	ERROR_UNSUPPORTED_TIBIA_VERSION "Versão do cliente não suportada."
	ERROR_WRONG_TIBIA_EXE "O arquivo selecionado não existe."
	ERROR_WRONG_TIBIA_VER "A versão do cliente selecionada não é a necessária."
	ERROR_WRONG_TIBIA_DIR "Você não tem acesso à pasta do cliente."
	ERROR_WRONG_TIBIA_DAT "O arquivo Tibia.dat não existe ou você não tem permissões para acessá-lo."
	ERROR_WRONG_TIBIA_SPR "O arquivo Tibia.spr não existe ou você não tem permissões para acessá-lo."
	ERROR_WRONG_TIBIA_PIC "O arquivo Tibia.pic não existe ou você não tem permissões para acessá-lo."
	ERROR_START_TIBIA "Não foi possível abrir o cliente."
	ERROR_START_SERVERS "Não há porta disponível para iniciar o servidor proxy."
	ERROR_GET_BASE_ADDRESS "Não foi possível ler a memória do cliente."
	ERROR_CHANGE_TIBIA_CONFIG "Não foi possível alterar a configuração do cliente."
	ERROR_CHANGE_TIBIA_HOST "Não foi possível trocar o endereço de login do cliente."
	ERROR_FIND_TIBIA_WINDOW "Não foi possível encontrar a janela do cliente."
	ERROR_WAIT_TIBIA_WINDOW "O Tibia parou de responder."
	ERROR_THREAD_WAITER "Não foi possível criar uma tarefa."

	MESSAGE_PROXY "Ative seu proxy agora e aperte OK para continuar."

	MESSAGE_END_VIDEO "Você chegou ao fim do vídeo.\nObrigado por assitir!\n\nTibia Time Machine " STR_VERSION "\nCriado por tulio150 @ " SITE_URL "\nFaça uma doação se tiver gostado"
	MESSAGE_EDIT_START "Editor do Tibia Time Machine\n\nO início da sessão foi redefinido para a posição atual."
	MESSAGE_EDIT_END "Editor do Tibia Time Machine\n\nO fim da sessão foi redefinido para a posição atual."
	MESSAGE_EDIT_FAST "Editor do Tibia Time Machine\n\nO tempo especificado será reproduzido 2x mais rápido."
	MESSAGE_EDIT_SLOW "Editor do Tibia Time Machine\n\nO tempo especificado será reproduzido 2x mais lento."
	MESSAGE_EDIT_SKIP "Editor do Tibia Time Machine\n\nA quantidade de tempo especificada foi cortada do vídeo."
	MESSAGE_EDIT_DELAY "Editor do Tibia Time Machine\n\nO atraso especificado foi inserido no vídeo."

	ERROR_CREATE_SOCKET "Erro do Tibia Time Machine\n\nNão foi possível criar o socket de conexão.\nO sistema de rede de seu computador está sobrecarregado."
	ERROR_OLD_TIBIA "Erro do Tibia Time Machine\n\nNão é possível se conectar usando uma versão antiga.\nPara assistir um vídeo, aperte Iniciar no Tibia Time Machine\ne faça login com Account e Password em branco."
	ERROR_FIND_HOST "Erro do Tibia Time Machine\n\nNão foi possível encontrar o servidor do OpenTibia.\nO servidor pode estar offline, você digitou o endereço errado\nou você não está conectado à internet."
	ERROR_CONNECT_HOST "Erro do Tibia Time Machine\n\nNão foi possível se conectar ao servidor.\nO servidor pode estar offline ou ocupado."
	ERROR_CORRUPT_DATA "Erro do Tibia Time Machine\n\nNão foi possível se conectar ao servidor.\nO servidor respondeu com dados inválidos."
	ERROR_OTSERVER_UPDATE "Erro do Tibia Time Machine\n\nUm servidor OpenTibia tentou enviar uma atualização."
	ERROR_NOT_WAIT "Erro do Tibia Time Machine\n\nPara assitir um vídeo, aperte Iniciar no Tibia Time Machine antes de fazer login."
	ERROR_NO_VIDEO "Erro do Tibia Time Machine\n\nNão há vídeo aberto.\nPara abrir um vídeo, aperte Abrir no Tibia Time Machine."
	ERROR_RECONNECT "Could not reconnect to the game server to start recording."
}

